* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 0.9164040616246498) 7%,
    rgba(235, 6, 53, 0.9164040616246498) 86%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 100vh;

  .calculatrice {
    background-color: #b8860b;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
  }

  .ecran {
    background-color: rgba(53, 218, 221, 0.914);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    justify-content: flex-end;
    align-items: flex-end;
    /* padding: 5px; */
    font-size: 25px;
    border-radius: 10px;
  }

  .boutons {
    display: grid;
    grid-template-columns: repeat(4, 55px);
    grid-template-rows: repeat(5, 55px);
    padding: 5px;
  }

  .bouton {
    border: none;
    outline: none;
    background-color: rgb(238, 238, 223);
    padding: 2px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 4px rgb(157, 157, 147);
  }

  .bouton:active {
    box-shadow: 0 1px rgb(157, 157, 147);
  }

  #boutonC {
    background-color: rgb(243, 110, 48);
    color: white;
  }

  #boutonEgal {
    width: 100px;
    background-color: rgb(129, 210, 7);
  }
}
